*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
# mvp sdk
/lib-baselib-91haoke-android
/lib-classroomsdk-91haoke-android
/lib-eduhdsdk-91haoke-android
/lib-gsplayer-91haoke-android
/react
